<!DOCTYPE html>
<html>
<head>
  <title></title>

  {% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'website/stylesheets/all.css' %}">
</head>
<body>
  <div class="pitch">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1>Start a Profitable Amazon Business in 90 Days</h1>
          <p>I created my own brand and sold $22,883 on Amazon my first 30 days. Get the step-by-step process I followed to select a product, source it, and then kick-start sales.</p>
          <p><button class="btn btn-primary">Download the complete blueprint for $29.99</button></p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>